@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background-color: #343331;
    font-family: 'Playfair Display', serif;
    color: #343331;
}

.border {
  border: solid red 1px;
}

.title {
  border-bottom: solid #343331 1px;
  background-color: #ffd1dce9;
}

.portfolioList {
  margin-left: 20px;
}

.portfolioColDiv {
  margin-right: 20px;
}

.portfolioList p {
  margin-bottom: 10px;
}

.portfolioContainer {
  background-color: #343331;
  color: #ffd1dcd7;
}
